<h2>Introduction</h2>
<p>As a PGA Professional I am always looking for new and exciting ways to reach out to my students. This is a chance for me to offer you a little insight as to who I am and how I teach the game of golf. My goal is to provide a resource for students or potential students to gain knowledge through quality golf instruction that will simplify the game, and reduce practice time, while allowing them to take their game to the next level. For more information about my location or how to play to your potential click <a href="#meet">here</a>.</p>
