<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h2>Introduction</h2>
			<p>As a PGA Professional I am always looking for new and exciting ways to reach out to my students. This is a chance for me to offer you a little insight as to who I am and how I teach the game of golf. My goal is to provide a resource for students or potential students to gain knowledge through quality golf instruction that will simplify the game, and reduce practice time, while allowing them to take their game to the next level. For more information about my location or how to play to your potential click <a href="#meet">here</a>.</p>
		</div>
		<div class="col-xs-12 col-md-6" id="index-pics">
			<div class="fotorama" data-nav="thumbs" data-transition="crossfade" data-keyboard="true" data-autoplay="true" data-loop="true">
				<img src="/images/image-15.jpg" alt="pic" height="313" width="500">
				<img src="/images/image-6.jpg" alt="pic" height="313" width="500">
				<img src="/images/image-13.jpg" alt="pic" height="313" width="500">
				<img src="/images/image-8.jpg"  alt="pic" height="313" width="500">
				<img src="/images/image-12.jpg" alt="pic" height="313" width="500">
				<img src="/images/image-9.jpg" alt="pic" height="313" width="500">
				<img src="/images/image-11.jpg" alt="pic" height="313" width="500">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3" align="center">
			<h2>What's New ??</h2>
			<p><a href="/home/tour_weekly.html">Tour Weekly</a> shows what the best players in the world do so well to win golf tournaments on the PGA Tour.</p>
			<p>Golf instruction with David Saunders is now on <a href="http://www.facebook.com/profile.php?id=782885698&amp;v=photos&amp;ref=profile#!/pages/Golf-Instruction-with-David-Saunders/111882338864704?v=wall&amp;ref=ts" type="1" target="_blank">Facebook</a> and <a href="https://twitter.com/dsaunderspga">Twitter</a>. Become a fan or follow me to get live updates and see specials that I am running.</p>
			<p>All golf instruction will now take place at <strong>GolfTec - Gaithersburg</strong>. For directions and more information click <a href="https://www.golftec.com/golf-lessons/montgomery-county/gaithersburg" target="_blank">here. </a></p>
			<p>Also, remember, when you are taking lessons it is always a good idea to arrive early to allow time to warm up. Don't forget to bring a towel and some water, so you stay comfortable and hydrated.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" align="center">
			<h2>Student Testimonials</h2>
			<div class="fotorama" data-transition="slide" data-keyboard="true" data-loop="true" data-nav="false" data-fit="contain" data-autoplay="10000" data-width="800" data-height="200">

				<div class="slide">	
					<div class="testimonials-carousel-context">
						<div class="testimonials-carousel-content"><p>I wanted to let you know how much I enjoyed my group "Beginner" golf lessons with you. I feel, as a beginner, your tutorial and demonstrations have given me a good, solid foundation for this challenging sport I am undertaking. Your teaching style was easy for me to grasp and your explanations of "why" you do it this way made so much sense. I wish you much success in your golf career and again wanted to say thank you for a great start.</p></div>
						<div class="testimonials-name">Marla Farris</div>
					</div>
				</div>

				<div class="slide">
					<div class="testimonials-carousel-context">
						<div class="testimonials-carousel-content"><p>Dave is a teacher that understands the golf swing thoroughly and is a patient communicator that has helped me greatly improve both my understanding of the swing and the fundamentals of my golf swing. Dave has a great short game knowledge and teaches the secrets of the short game so that it is easy to understand and apply to my game. I have learned a lot from him and would recommend him as both a great communicator and an accomplished teacher. I enjoy working with my on my swing and I know he has greatly helped me improve as a student.</p></div>
						<div class="testimonials-name">Tom, <span>Bowie, MD</span></div>
					</div>
				</div>

				<div class="slide">
					<div class="testimonials-carousel-context">
						<div class="testimonials-carousel-content"><p>Because of a shoulder injury, I had not been able to play golf for five years. Thanks to David I have been able to get my swing back. I highly recommend him. He is very easy to understand and for me that is important. I have been working with him for a couple of months and will continue to work with him as he fine tunes my game. I have had lessons in the past and CONSIDER HIM ONE OF THE BEST!</p></div>
						<div class="testimonials-name">Loraine Blackwood</div>
					</div>
				</div>

				<div class="slide">
					<div class="testimonials-carousel-context">
						<div class="testimonials-carousel-content"><p>I thought it would be intimidating to learn a new sport at this point in my life, but Dave's patience and encouragement have made all the difference. He has a wonderful ability to make me see in my head what a good stroke looks like whether by using a mirror, video, or just describing it the right way. He's willing to cheerfully keep at it until I understand the concept exactly and can then repeat it. I look forward to lessons with Dave on a regular basis even after I become competent as a golfer.</p></div>
						<div class="testimonials-name">Betty, <span>Springfield, VA</span></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>

