<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h2>Lessons</h2>
		</div>
	</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h3>What are some of the different types of lessons??</h3>
				<p><span>Video Lessons</span> are one of the best ways for a student to see what he or she is doing in the motion of their golf swing. There are many new and exciting ways for you to have your swing analyzed using the latest in motion analysis software. It is a fact that if you want to improve your skills as a player then you need video feedback. The use of motion analysis software is ideal for starting a series of lessons. This allows your instructor to record your golf swing, break it down, and explain (show you) the changes needed to improve. Video lessons are also a great way to track your progress while working on changes with your PGA Professional.<br /> <br /> <span>Playing Lessons</span> are designed to teach golfers how to think their way around the golf course while playing away from trouble. This is one of the best ways for a golfer to lower his or her score using the skills that he or she already possesses. This is also a rare opportunity to play with a professional and see first hand how it should be done. Receive on-course instructional tips in course management, bunker play, and how to hit that real life golf shot that you only seem to find during a round of golf.</p>
				<p><span>Short Game Lessons</span> are a great way to lower scores. It is common knowledge amongst better players that a good short game will save bad rounds and make good rounds great.</p>
			</div>
			<div class="col-xs-12 col-md-6">
				<h3>What is the difference between private and group instruction??</h3>
				<img src="/images/dav2private.jpg" align="right" height="205" width="200" />
				<p align="left"><span>Private Instruction</span> is best for golfers who have been playing awhile and may have developed problems specific to themselves, requiring an individual improvement plan and coaching or for those just starting out who may feel uncomfortable in a group setting or simply want the instructors individual attention.<br /> <br /> <img src="/images/dave2group.jpg" alt="Group Lessons" height="165" width="400" /></p>
				<p><span>Group Instruction or Clinics</span> are ideal for those golfers who have the same needs or interests and therefore will be getting the same information, for example: Beginners, Juniors, Ladies, Corporate Outings, Golf Schools, Business Leagues or when the instruction is concentrated on one specific subject, for example: Chipping, Driving, Sand Shots Putting. The main advantage for group instruction or clinics is the lower cost.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-2">
				<h2>Lesson Rates</h2>
				All Lessons will be taught at <a href="https://www.golftec.com/golf-lessons/montgomery-county/gaithersburg" target="_blank">GolfTEC of Gaithersurg</a>.<br /></br> To schedule a lesson now, simply call (240) 461-7563 or use this <a href="/home/contact">form</a>.</br> </br>Ask about our half price swing evaluation.<br /></br> Check out the video for a proven path to proven results.</td>
			</div>
			<div class="col-xs-12 col-md-4">
				<iframe width="420" height="315"
				src="http://www.youtube.com/v/60opQI9a4uk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6">
				</iframe>
			</div>
		</div>
	<!-- <object height="385" width="480"><param name="movie" value="http://www.youtube.com/v/60opQI9a4uk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed src="http://www.youtube.com/v/60opQI9a4uk?fs=1&amp;hl=en_US&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="385" width="480" /> </object> -->
</div>
