<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-5">
			<p><img src="/images/meetpro.jpg" alt="Dave Saunders" height="300" width="452" align="center"/></p>
		</div>
		<div class="col-xs-12 col-md-7">
			<h2>Meet the pro</h2>
			<p>After a brief collegiate career, David turned professional in the spring of 2004; he then began teaching the game of golf, and has been doing so for the past several years.<br /> <br /> He continues to balance a full teaching schedule specializing in all classroom settings. This schedule includes a golf program with upwards of 200 students ranging from the very beginner to high level college players, as well as maintaining a busy playing schedule consisting of golf tournaments and Pro-Ams throughout the Mid-Atlantic.</p>
			<p>David often seeks instruction and mentoring from some of golf's foremost instructors such as Chip Sullivan, Steve Bosdosh, Hank Haney, and top instructors at Jim McLean's Golf School in Doral, Florida.</p>
			<p>If you have any questions about lessons simply click <a href="home/lessons">here.</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<h2 align="left">Instructional Theory</h2>
				<p>David's instructional theory relates to ball flight and helping players understand cause and effect in their golf swings. It is simple, and is based on proven fundamentals of the game.<br /> <br /> &ldquo;I feel that the fundamentals in ones golf swing are like the foundation of a house. If built properly they will stand the test of time&rdquo;.</p>
				<p>David will work with you on every aspect of the swing to improve power, accuracy and consistency. The short game of chipping, pitching, sand shots and putting is strongly emphasized to help everyone lower their scores. All the mental aspects and course management skills are emphasized with every golfer.</p>
				<p>David designs his lesson plans to provide golfers with clear, concise instruction in a friendly environment. David&rsquo;s students have characterized him as having a positive and patient teaching style.</p>
				<p>As a student progresses in their learning curve, they will be taught how to understand what their golf swing is doing by recognizing patterns in their ball flight. This is the most important asset to becoming your own best teacher. Each student will learn how to practice properly, how to play the golf course andhow to analyze their game to find the areas that need the most improvement.</p>
		</div>
	</div>
</div>