<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3" align="center">
			<h2>Golf Tips</h2>
			<p>Please enjoy these golf tips I hope you will find them useful. My goal in creating this forum is to provide my students or potential students with a better understanding of some golf related topics whether it is one of those hard to hit golf shots, rules, questions, or something else golf related. Feel free to send me any questions that you have and I will post on those topics.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<ul class="nav nav-pills" align="center">
				<li role="presentation"><a href="#tiger">Tiger's Impact</a></li>
				<li role="presentation"><a href="#etiquette">Etiquette</a></li>
				<li role="presentation"><a href="#practice">Practice</a></li>
				<li role="presentation"><a href="#chipping">Better Chipping</a></li>
				<li role="presentation"><a href="#spine">Spine Angle</a></li>
				<li role="presentation"><a href="#wind">Into the Wind</a></li>
				<li role="presentation"><a href="#uneven">Uneven Lies</a></li>
				<li role="presentation"><a href="#hammer">Hammer It</a></li>
			</ul>
		</div>
	</div>

	<div class="row" id="tiger">
		<div class="col-md-10 col-md-offset-1">
			<h2>Tiger's Impact</h2>
			<p>Since the beginning of the video technology era circa 1984, golfers have learned more detail about their swings. We learn of planes, pivots, posture, wrist angles, impact positions and more. But while golfers have become more educated, they have not become better golfers. The average handicap of a golfer is still around 23 in spite of vast improvements in clubs, balls and biomechanical and video lesson technologies. And, especially with the immediate feedback of video technology, it is surprising that the most often misunderstood part of the golf swing is the actual impact itself.<br /> <br /> Impact as a position is easily seen. We&rsquo;ve seen pictures of Tiger or Phil with tremendous impact positions with the shaft leaning as much as 7 degrees forward on average. And not only do they achieve these tremendous positions, they drive them through impact very well. (How else do these guys hit 200-yard seven irons sometimes?)<br /> <br /> Contrastingly, we know the average golfer has a backward shaft lean at impact and a chicken wing follow through. So what&rsquo;s the difference and how does the Average Joe achieve a great impact position like Tiger?</p>
			<p><strong>Static Position of Impact</strong><!-- <img src="/images/tiger/tiger1.JPG" align="left" height="459" width="321" /> --></p>
			<!-- <p>&nbsp;</p> -->
			<p>One major problem to achieving Tiger&rsquo;s impact position is first in explaining it. Impact, viewed as a static position, is simple. His shaft is leaned forward by about 7 degrees. His wrist bone is slightly raised in a &ldquo;bowed&rdquo; position. Some people call this a flat wrist position, which is pretty much the same thing although purists might argue this point. <br /> <br /> Body-wise, his hips are open as much as 50 to 60 degrees and his shoulders are open by about 20 degrees. Weight is shifted onto his left leg.<br /> <br /> Does that sound daunting? It probably does, to the majority of golfers. What makes that position so difficult to attain is that the movements leading up to it must be correct. In order to even have a chance at getting to that position, the grip, pivot motion, kinetic chain, posture, etc. must be correct. Many of those things are easy to do, yet impact eludes us.<br /> <br /> Why is that?</p>
			<!-- <h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<p>&nbsp;</p>
			<p><img src="/images/tiger/tiger2.JPG" align="left" height="449" width="333" /></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p> -->
			<p>Dynamic Movements Involved in the Impact The dynamic movements aren&rsquo;t so simple. There are three hand/arm/wrist movements occurring at the same time and they start in the middle of the downswing when the club reaches the right thigh and the shaft pointing around 9 o&rsquo;clock. The dynamic movements are basically finished by the time the arms reach 3 o&rsquo;clock on the follow through.</p>
			<!-- <h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<p></p> -->
			<p><br /> Scott Verplank in a very good impact position with his hands well ahead of the ball at impact</p>
			<p><strong>Arm Abduction<br /> </strong>The first is the simplest and is called arm abduction. The left arm is moving towards impact and should be reaching peak speed just before impact.</p>
			<p align="center"><!-- <img src="/images/tiger/tiger3.JPG" height="303" width="414" /> --><!-- <br /> Notice how far forward Tiger&rsquo;s left arm is just a little after impact.</p> -->
			<p align="left">But arm abduction can slow to a halt when the hands are adjacent to the right thigh for people using their wrists to snap and flip through impact.</p>
			<p><strong>Wrist extension<br /> </strong>The second is left wrist extension or a bowed position. The left wrist should bow outward towards the target and attempt to hold its strong position.</p>
			<p>As Hogan said, the left wrist bone should be raised. Notice also Tiger&rsquo;s right wrist holding the angle.</p>
			<p align="center"><!-- <img src="/images/tiger/tiger4.JPG" height="246" width="307" /> --></p>
			<!-- <p align="center">&nbsp;</p> -->
			<p><!-- .<img src="/images/tiger/tiger5.JPG" align="left" height="325" width="350" /> --></p>
			<p><strong>Supination</strong></p>
			<p>The third and most difficult to accomplish is the supination of the left forearm and wrist. Supination is when the left wrist and forearm begin to face up.</p>
			<p>*Tip: <em>In order to feel this position, one's left wrist must not buckle back. The best way to feel this position would be to hold a glaass of water in one's hand when the left arm is here. In his book, Five Lessons: The Modern Fundamentals of Golf, Ben Hogan discusses this concept and said that all good players supinated while poor players pronated. His assessment is very accurate and he knew this without even having slow motion video at his disposal. But his analysis was not complete enough for the average Joe to fully comprehend how different his motion was from a tour professional nor was it complete enough for most people to learn the movement.</em></p>
			<!-- <h2>&nbsp;</h2>
			<h2>&nbsp;</h2> -->
			<p><strong>The Difficulty for Average Joe<br /> </strong>As you can imagine, if all three dynamic movements are not present, achieving the correct impact position is nearly impossible. Being that there are three factors and any combination of them can occur, this gives us nine potentially different circumstances or impact conditions that can occur. For the sake of simplicity, let&rsquo;s discuss just the most common errors inhibiting Average Joe from achieving a great impact position.</p>
			<p><strong>Supination</strong><br /> Supination is the single most difficult thing to do. As Hogan said, the palm of the left hand must rotate to face up through impact. The left hand must also drive through without breaking down and allowing the right hand to take over. The purpose for supination is the closing of the clubface from the 9 o&rsquo;clock position through the 3 o&rsquo;clock position. Since the clubface is typically about 90 degrees open at the 9 o&rsquo;clock position on the way down, the clubface must be squared using the supination of the left hand.</p>
			<p><strong>Pronation</strong><!-- <img src="/images/tiger/tiger6.JPG" align="left" height="453" width="292" /> --></p>
			<!-- <h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2> -->
			<p>Average Joe (heretofore known as AJ) practices the opposite or pronation of the left hand. AJ&rsquo;s left palm is facing down.</p>
			<p>Compare this position to Tiger&rsquo;s post impact position. AJ&rsquo;s hands are still in the middle of his body while his club has broken way past the ball. That means very little arm abduction or arm speed moving through impact. This results in the typical weak, flip fade shot or worse yet a slice.</p>
		<!-- 	<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h2><img src="/images/tiger/tiger7.JPG" align="left" height="324" width="310" /></h2>
			<h2>&nbsp;</h2> -->
			<p>In an effort to square the clubface at impact, AJ instead slows down the arm abduction or arm speed, and then attempts to flip the clubface closed. This results in the left arm breakdown and follow through recognized as the dreaded &ldquo;chicken wing.&rdquo;</p>
			<!-- <p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p> -->
			<p><strong>Weak Attempt To Square The Clubface<br /> </strong>There is one major problem with this method of squaring the clubface. It does not consistently close the clubface. Typical AJ golfers who say they hit their short irons straight but slice their woods are generally in this category.</p>
			<p align="center"><!-- <img src="/images/tiger/tiger8.JPG" height="314" width="451" /> --><!-- <br /> AJ&rsquo;s club approaches from outside-to-in and will have great difficulty in squaring the clubface. Compare that position to Tiger&rsquo;s.<br /> --> <!-- <img src="/images/tiger/tiger9.JPG" height="345" width="453" /> --><!-- <br /> Notice that AJ&rsquo;s left hand is palm down while Tiger&rsquo;s looks to be facing up.<br /> --><!--  <img src="/images/tiger/tigera.JPG" height="347" width="439" /> --><!-- <br /> If you look at the clubface positions on the follow through, you&rsquo;ll see that AJ&rsquo;s clubface never rotated closed.</p> -->
			<p align="left">Another problem with the flip method of squaring the clubface is that this method does work sometimes leaving the AJ golfer with the mistaken impression that he&rsquo;s &ldquo;got it.&rdquo; The hands must slow down just before impact and flip the clubface closed to square it perfectly. A little too early and it will pull hook. A little too late and it&rsquo;s a weak fade again. The flip method must be timed perfectly in order to produce a straight shot.<br /> <br /> There are more inherent problems with this method.</p>
			<p align="left"><strong>Casting</strong><!-- <img src="/images/tiger/tiger12.JPG" align="left" height="447" width="209" /> --></p>
		<!-- 	<p align="left">&nbsp;</p>
			<p align="left">&nbsp;</p> -->
			<p align="left">The next problem is that the wrists must release earlier than normal in order to square the club. This is also called casting and while AJ knows that casting is bad, it is also his lifeblood. It&rsquo;s the only method he knows to square the clubface somewhat at impact. It&rsquo;s evident in the previous pictures that casting doesn&rsquo;t really close the clubface. It&rsquo;s still open on the follow through. This is akin to saying that my 1978 Dodge Dart has a bad engine and is leaking oil but it&rsquo;s my only method of transportation. <br /> <br /> So what&rsquo;s so bad about casting? Besides inconsistently delivering the clubface to impact, another predicament arises. Casting causes the bottom of the swing to be behind the ball at impact. What does that mean? It means you&rsquo;ll hit the ground prior to contacting the ball. Bobby Clampett&rsquo;s book called the Impact Zone details the problems of AJ golfers. They studied everyone from tour pros to top amateurs to AJ golfers. Their findings? Tour players have their impact three to four inches AHEAD of the ball at contact while AJ golfers have it as much as five to six inches BEHIND the ball. If you need to know why you are hitting the ball fat or chunky this is the simple reason. But wait. It gets even worse.</p>
			<!-- <p align="left">&nbsp;</p>
			<p align="left">&nbsp;</p>
			<p align="left">&nbsp;</p>
			<p align="left">&nbsp;</p> -->
			<p align="left"><strong>Solving the fat shot</strong><br /> Given that AJ golfers have the bottom of the swing or arc several inches behind the ball and are destined to hit the ground first, what would be the most logical thing to do? Stand up. Or lift up. By doing this, AJ has a chance at cleaner contact but guess what? In an effort to stop hitting the ground, he/she inadvertently will start to top the ball or at the least, begin to hit thin shots.</p>
			<p align="left">Of course this solution does not work consistently therefore AJ golfer must seek another solution. What might that be? How about changing one&rsquo;s swing plane? You got it.</p>
			<p align="left">AJ golfers will sometimes steepen their downswing plane in an effort to get a better impact. The steeper, sharper angle of approach puts the bottom of the swing back in front of the ball despite the casting that is still occurring. But what nasty gremlins are coming along for the ride now? How about slicing, chopping and shanking? AJ golfers are in a catch-22 situation. Flipping it makes it somewhat work, yet it brings with it all the problems that you&rsquo;d rather avoid. But if you don&rsquo;t know how to stop flipping, how will you ever stop? So the endless cycle continues&hellip;&hellip;..</p>
			<p align="left">If you don&rsquo;t like those options, you really need to consider going back to the truth&hellip;&hellip;supination.</p>
			<p align="center"><!-- <strong>Better Than Average Joe (BTAJ)</strong><br /> --><!--  <img src="/images/tiger/tiger13.JPG" height="265" width="453" /> --></p>
			<p align="left">BTAJ golfers are a little better at creating better arm abduction, hold their lag longer but still flip the wrists at the bottom of their swings. They are able to &ldquo;time&rdquo; the release or slowdown of their arms at the precise moment before impact to allow the club to sling through.</p>
			<p align="left">Grant Waite is pictured on above showing this type of release can be effective on the tour.</p>
			<p align="left">Notice a slight bend in his left arm. It is a sign that his elbow and not his wrist are accelerating the club at this point. Consequently he is retaining less angle than Tiger.</p>
			<p align="left">Also, the back of Waite&rsquo;s left wrist is already slightly cupped or in a slight flexion position in the picture on the far right.</p>
			<p align="left">This creates a decent impact position where the clubshaft is closer to vertical at impact (or has less forward shaft lean) and the bottom of the swing is right at the ball.</p>
			<p align="left"><!-- <img src="/images/tiger/tiger14.JPG" height="431" width="283" /> --><br /> Sometimes great golf can be played using this method but it is somewhat limited in power due to the heavier reliance on timing. The typical BTAJ golfer must swing under control or at somewhere around 80-85% of his/her power or the likely result is a hook or a weak fade.</p>
			<p align="left">Nothing wrong with that, but Tiger does not have to swing under such constraints and can still control the ball. Power and control are optimized for Tiger. For everyone else, power is sacrificed for more control.</p>
			<p align="left">BTAJ golfers do not have the wrist extension or bowed wrist of Tiger. Therefore their impact is not quite as strong as that of the supinated, bowed wrist impact of Tiger. Their contact is likely to be a little flipped under right after impact. If BTAJ golfers were to rapidly close the clubface through impact it would no doubt create hooks. So the better BTAJ golfers learn to slide the clubface a little under by breaking their left wrist slightly through impact which will allow for straight shots albeit a little floaty and weaker than Tiger&rsquo;s impact position.</p>
			<p align="left">Notice Tiger&rsquo;s strong left wrist position is still apparent moments after impact. Contrast that to Waite&rsquo;s slightly cupped left wrist. Other Scenarios I&rsquo;ve just</p>
			<p align="left"><strong>Other Scenarios</strong><br /> I&rsquo;ve just described three scenarios of impact. Tiger, AJ and BTAJ. But there are six other possible combinations with varying degrees of correctness or incorrectness. The symptoms of poor impact positions will still be present. So if the two earlier scenarios do not describe you, you&rsquo;re probably somewhere in here. You may have variations in the errors and possibly have other errors in your swing that affect your movements at impact. But do not fret; there is help on the way.</p>
			<p align="left"><strong>How to Achieve Tiger&rsquo;s Impact</strong><br /> So how does AJ get a beautiful, powerful impact position like Tiger? He has to learn the movements in slow motion first.</p>
			<p align="left">If he hooks or draws the ball already, he has to focus on the bowing of the wrist at impact while working his body rotation through impact.</p>
			<p align="left">If he is fading or slicing the ball, he needs to focus on the supination. Clubface rotation comes from turning the left wrist as if the left hand is going to turn a key in a door lock. The rotation should be counter-clockwise so that the palm faces up. Also, he needs to train himself into supinating early i.e. the movement begins when his hands reaches his right thigh. Waiting too long only results in a weak flip at the ball.</p>
			<p align="left">One major problem with achieving this position is that positions don&rsquo;t feel right initially. Another problem is that these positions don&rsquo;t feel like they look. Everyone thinks they&rsquo;re doing this right. NOT!!! Get a video camera with a high speed shutter and you&rsquo;ll be able to honestly assess whether or not you&rsquo;re able to do this. If you find yourself struggling with your impact position and would like some help in taking your game to the next level simply contact me and we can get started.</p>
			<p><a href="#">Back to Top</a></p>
		</div>
	</div>

	<div class="row" id="etiquette">
		<div class="col-md-10 col-md-offset-1">
			<h2>Etiquette</h2>
			<p>As a PGA Professional I receive a lot of questions from new golfers about how to act or behave when they are out on the golf course. I think that new golfers tend to ask these types of questions for fear of doing something wrong as being on the course is an unknown for them. So I always start when explaining etiquette with what etiquette means. The definition of etiquette is&hellip; The practices and forms prescribed by social convention or by authority.</p>
			<p>Listed below are some suggestions of proper etiquette on the golf course these are some do&rsquo;s and don&rsquo;ts and are only the beginning or basics of &ldquo;how to act when on the golf course&rdquo;<br /> <br /> <strong>DO</strong>:<br /> - Rake the bunkers when playing out of or walking through.<br /> - Be quiet when others are hitting.<br /> - Play with honors, the person with the best score on the previous hole plays tees off first. (Unless otherwise stipulated for a &ldquo;not so formal&rdquo; round of golf)<br /> - Tee off behind the tee markers.<br /> - Replace divots in the fairways.<br /> - Fix ball marks on the greens.</p>
			<p><strong>DO NOT</strong>:<br /> - Run on the green.<br /> - Disrespect the golf course by slamming or throwing clubs.<br /> - Throw pins onto the green.<br /> - Retrieve your ball from the hole with anything other than your hand.<br /> -Drive golf cars inside of ropes or into tall grass or hazards.<br /> <br /> Now some of the things listed above may seem to be normal and some may seem tedious or unnecessary. But this is part of the game. It&rsquo;s what makes golf such a unique game. When you get into the habit of doing these things correctly they will become second nature and you won&rsquo;t think twice about doing them. If you have any questions feel free to call.</p>
			<p><a href="#">Back to Top</a></p>
		</div>
	</div>

	<div class="row" id="practice">
		<div class="col-md-10 col-md-offset-1">
			<h2>Practice</h2>
			<p>One of my students asked me &ldquo;how much should I practice??&rdquo; My response was to say that it varies for each person individually. We all have work, school, family etc. and it is important to make time for those things. However if you want to become a better golfer then you need to make time for practice, your game and your goals. It is up to you how much time you spend on your game but like I always tell students &ldquo;you will get out of you game &hellip;what you put into your game&rdquo;.</p>
			<p>Below is a copy of a practice schedule that I used in college. This was a schedule that I used on non tournament weeks. I had a lighter practice schedule near tournament time as I was usually playing a lot more of the time in those particular weeks. I thought this may give some ideas on how to organize a practice schedule for yourself. I don&rsquo;t recommend copying this one verbatim as it is rather time consuming and designed for my specific needs.</p>
			<p>In general when one is creating a practice schedule they should first plan out how much time they have to work with. As a general rule I believe the average Joe should spend 20% of the time hitting balls and working on their golf swing, 20% of the time practicing on the golf course in &ldquo;real life situations&rdquo; and the last 50% on the scoring portion of their game (Chipping, Pitching and Putting). If you divide your time up strictly by the numbers and stick with it you are guaranteed to improve because your practice is so well rounded.</p>
			<p>As you start to improve then add a twist. Here is how&hellip; figure out exactly what needs to be accomplished meaning what are the topics that need to be addressed in your golf game?? and there for what are you working on in your practice sessions??. Now use this information to make a more personalized practice schedule that fits your golf game as well as your schedule. Get creative for example&hellip; one of my favorite things to do in practice is to play 9 holes from the 100 yard marker trying to get the ball in the hole in the least amount of strokes ensuring that my scoring game is sharp incase my ballstriking is not perfect.</p>
			<p>Good luck and if you have any questions about this article or need any help with your golf game simply contact me and let me know how I can help.</p>
			<table cellpadding="5">
				<tbody>
					<tr>
						<td width="318">
							<strong>Monday 9</strong><br /> 8:00-10:00 hit balls<br /> 10:00-10:30 putt<br /> 10:30-12:30 nine holes<br /> 12:30-1:00 lunch<br /> 1:00-1:30 hit wedges<br /> 1:30-2:30 short game<br /> 2:30-4:30 nine holes<br /> 4:30-5:00 hit balls<br /> 5:00-5-30 putt<br /> <strong><br /> Tuesday 4.5</strong><br /> 12:00-12:30 hit balls<br /> 12:30-4:30 eighteen holes<br /> 4:30-5:30 work on a weakness<br /> <strong><br /> Wednesday 1.5</strong><br /> 6:00-6:30 hit wedges<br /> 6:30-7:00 short game<br /> 7:00-7:30 putt
						</td>
						
						<td width="318">
							<strong>Thursday 1.5</strong><br /> 6:00-6:30 hit wedges<br /> 6:30-7:00 short game<br /> 7:00-7:30 putt<br /><strong></br>Friday 4.5</strong><br /> 1:00-1:30 hit balls<br /> 1:30-5:30 eighteen holes<br /> 5:30-6:30 work on a weakness
						</br><strong></br>Saturday</strong><br /> Day off (optional)
					</br><strong></br>Sunday 4.0</strong><br /> 12:00-12:30 hit balls<br /> 12:30-2:30 nine holes<br /> 2:30-3:00 hit wedges<br /> 3:00-3:30 putt<br /> 3:30-4:00 short game
				</td>
			</tr>
		</tbody>
	</table>
	<p><a href="#">Back to Top</a></p>
</div>
</div>

<div class="row" id="chipping">
	<div class="col-md-10 col-md-offset-1">
		<h2>Weight Forward for Better Chipping</h2>
		<p>We have all had trouble with the short game.&nbsp; It seems to come and go with the wind.&nbsp; However, this&nbsp;golf tip&nbsp;will not only help you get the ball closer to the hole (or on the green) but it can help improve your distance control.&nbsp;</p>
		<p>&ldquo;<em>Lean on it</em>,&rdquo; if you are having trouble with your short game, position your weight on the side closest to the hole.&nbsp; For right-handed golfers apply 60 to 70% of your weight on your left side (and for left-handers put your weight on your right side).&nbsp; When chipping close to the green positioning your weight on your left side with the ball position favoring the inside of your right foot (for left-handers move your weight to the right side and position the ball towards you left foot) this allows for a more&nbsp;descending blow on the golf ball popping it up in the air easily.&nbsp; You don&rsquo;t have to worry about changing your swing all you need to do is keep your weight on your left (or right) side and ball position back from the beginning to the end of the stroke.&nbsp; <span style="text-decoration: underline;">There should be minimal weight shift during the swing.&nbsp; </span></p>
		<p>So, if you&rsquo;re struggling around the greens make sure to &ldquo;Lean on it.&rdquo;&nbsp;</p>
		<p><a href="#">Back to Top</a></p>
	</div>
</div>

<div class="row" id="spine">
	<div class="col-md-10 col-md-offset-1">
		<h2>Maintaining Your Spine Angle</h2>
		<p>Spine Angle is illustrated below&nbsp;with&nbsp;a yellow&nbsp;line. The goal is for&nbsp;the&nbsp;golfer&nbsp;to maintain their spine angle&nbsp;as&nbsp;long as possible throughout the backswing and downswing through impact.&nbsp;In other words don't stand up straight at any time during the swing. Bend from the waste creating this angle and keep it consistent.&nbsp;A great&nbsp;drill that you can use in your next practice session is an example of exaggeration. Using a mirror make some practice swings practicing the rotation around the spine while keeping the angle the same. Use a strip of tape and place it on the mirror so you have some visual aid to show if you deviate from the desired angle.</p>
		<img src="/images/dave3tips1.gif" alt="Maintaining your spine angle" height="401" width="400" />
		<img src="/images/dave3tips2.gif" alt="Mantaining Spine Angle" height="401" width="400" />
		<p><a href="#">Back to Top</a></p>
	</div>
</div>

<div class="row" id="wind">
	<div class="col-md-10 col-md-offset-1">
		<h2>Shots INTO the Wind</h2>
		<p>Take more club depending on the severity of the wind. It may be 1, 2, 3 clubs or more.</br> Swing easy with the club you choose.</br> Keep your balance.</p>
		<p>Shots DOWN wind:<br /> Take less club down wind decreases the amount of backspin on the golf ball so remember that the ball will roll more when it hits the ground.&nbsp;</p>
		<p>Off the tee shot&hellip;.&rdquo;Tee it high and let it fly.&rdquo;</p>
		<p><a href="#">Back to Top</a></p>
	</div>
</div>

<div class="row" id="uneven">
	<div class="col-md-10 col-md-offset-1">
		<h2>Playing From Uneven Lies</h2>
		<p>Ball <strong><span style="text-decoration: underline;">ABOVE</span></strong> your feet:</p>
		<ul>
			<li>Adjust your weight more on the balls of your feet.</li>
			<li>Choke down on your club.</li>
			<li>Take a few practice swings to make sure the club does not hit the ground behind the ball.</li>
			<li>Aim more to the <strong><span style="text-decoration: underline;">RIGHT</span></strong> of your intended target because the ball will tend to pull to the left off this lie.</li>
			<li>Make a smooth swing this may require you to take more club to cover the needed distance.</li>
		</ul>
		<p>Ball <strong><span style="text-decoration: underline;">BELOW</span></strong> your feet:</p>
		<ul>
			<li>Adjust your weight more towards your heels.</li>
			<li>Grip the club as normal.</li>
			<li>Stand a little closer to the golf ball to be sure to reach it with the club head.</li>
			<li>Sit a little deeper in your posture (more knee bend).</li>
			<li>Aim more to the <strong><span style="text-decoration: underline;">LEFT</span></strong> of your intended target because the golf ball will tend to leak out to the right off this lie.</li>
		</ul>
		<p><a href="#">Back to Top</a></p>
	</div>
</div>

<div class="row" id="hammer">
	<div class="col-md-10 col-md-offset-1">
		<h2>Hammer It</h2>
		<img src="/images/dave4tipshammer3.jpg" cellspacing="5" align="top" height="245" width="326" />
		<p>All of you golfers out there know that one of the most frustrating things that can happen when hitting an iron shot&nbsp;is to &ldquo;top&rdquo; the ball. The term &ldquo;Topping&rdquo; is exactly that, when the golf club hits the top of the golf ball. This not only tends to deflate our confidence but also tends to inflate our scores. So how do you stop topping the ball you ask?? The answer is to &ldquo;hammer&rdquo; it!! Most of the time when I am playing golf with an amateur that has a tendency to &ldquo;top&rdquo; the ball they also have&nbsp;the tendency to &ldquo;scoop&rdquo; or try to help the ball into the air. This motion usually&nbsp;causes their club head to pass their hands at impact. However, all good ball strikers lead with their hands at impact and strike down hitting the ball first before the ground hence the term <strong>BALL STRIKER</strong>.</p>
		<p>The picture above illustrates what a good impact position looks like. This can be used as a drill to emulate the proper impact position where the shaft is leaning toward the target. Quick Tip: use a mirror to check your positions. The second picture will help produce the thought of hitting down into the ball as if the golf club is a hammer and you are driving the nail deeper into the ball. One of my favorite drills is based on this thought and&nbsp;the sound that is made when hitting balls. Start with half or three quarter swings at 60% effort until you get the hang of it.&nbsp;When done correctly you should hear a click from the club hitting the ball first then a thud from the club hitting the ground.&nbsp;So during your next practice session hammer it!!</p>
		<p><a href="#">Back to Top</a></p>
	</div>
</div>
</div>


