<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<h2 align="center">Tour Weekly</h2>
		</div>
		<div class="col-md-12" align="center">
		<iframe width="313" height="264" src="http://www.youtube.com/embed/KKpzdzwvxg8?rel=0" frameborder="0" allowfullscreen></iframe> 
		<iframe width="313" height="264" src="http://www.youtube.com/embed/OLeww-aVj30?rel=0" frameborder="0" allowfullscreen></iframe>
		<iframe width="313" height="264" src="http://www.youtube.com/embed/jEh_AYsfbWE?rel=0" frameborder="0" allowfullscreen></iframe>
		<iframe width="313" height="264" src="http://www.youtube.com/embed/ju7yT3fHCu8?rel=0" frameborder="0" allowfullscreen></iframe>
		<iframe width="313" height="264" src="http://www.youtube.com/v/jDAMjr8knbU?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" frameborder="0" allowfullscreen></iframe> 
		<iframe width="313" height="264" src="http://www.youtube.com/v/4mVQhOCGKmQ?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" frameborder="0" allowfullscreen></iframe> 
		<iframe width="313" height="264" src="http://www.youtube.com/v/ELj50RCo3qs?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" frameborder="0" allowfullscreen></iframe> 
		<iframe width="313" height="264" src="http://www.youtube.com/v/D70UJqyCSxI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" frameborder="0" allowfullscreen></iframe> 
		<iframe width="313" height="264" src="http://www.youtube.com/v/CXem5HOZtck?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" frameborder="0" allowfullscreen></iframe> 
		<iframe width="313" height="264" src="http://www.youtube.com/v/Xo5e4RhXGt8?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" frameborder="0" allowfullscreen></iframe> 
		</div>
	</div>
</div>